.home {
  background-color: black;
  color: #ffffff;
}
.home .main-heading-home {
  margin-top: 5rem;
}
.wrapper-grid-track {
  padding: 3rem 2rem 0 2rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, minmax(min-content, 22rem));
  grid-template-rows: repeat(1);
  grid-gap: 5rem;
}

.container-grid-track .box {
  box-shadow: 2px 0px 14px -1px rgba(24, 22, 22, 0.281);
  -webkit-box-shadow: 2px 0px 14px -1px rgba(24, 22, 22, 0.281);
  -moz-box-shadow: 2px 0px 14px -1px rgba(24, 22, 22, 0.281);
  border-radius: 5px;
  background-color: #ffffff;
  color: black;
  justify-content: space-between;
}

.grid-heading-track {
  font-size: 25px;
  margin: 1rem 0;
}

.buttons div {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.blue-button-track {
  display: flex;
  width: 150px;
  padding: 0.5rem 1rem;
  justify-content: center;
  background-color: rgb(0, 123, 194);
  border: none;
  margin: 1rem 0;
}
.task {
  background-color: black;
  color: white;
}

.heading-task {
  font-size: 80px;
  padding-top: 5rem;
  text-align: center;
  /* line-height: 80px; */
  font-family: "Titillium Web";
  text-transform: uppercase;
  margin: 0rem;
}
.subheading-task {
  font-size: 18px;
  text-align: center;
  font-weight: 200;
}

.tabContainer {
  width: 87%;
  margin: 3rem auto 0 auto;
}

.tabContainer .buttonContainer {
  height: 15%;
}
.tabContainer .buttonContainer button {
  padding: 10px 20px;
  background: #000000;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0 0.5%;
  color: grey;
  border: 0;
}
.tabPanelFlex {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  flex-direction: column;
  margin-top: 4rem;
}
.tabContainer .buttonContainer button:hover {
  background-color: white;
  color: #47abfc;
}
.tabContainer .tabPanel {
  background-color: black;
  color: white;
  text-align: center;
  box-sizing: border-box;
  font-family: sans-serif;
  /* font-size: 22px; */
  display: none;
}

.buttons div {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.tsk-btn {
  padding: 0.4rem 0rem;
  background-color: #47abfc;
  width: 30%;
  height: 50px;
  font-size: 1.2rem;
  border: none;
  vertical-align: middle;
  margin-top: 2rem;
}
.tsk-btn a {
  color: black;
  text-decoration: none;
  color: white;
}

p {
  font-size: 20px;
  line-height: 30px;
}

.p-task {
  display: block;
  margin-block-start: 0.5em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  width: 90%;
}

.dumm {
  width: 100%;
}

@media screen and (max-width:1000px) {
  .dumm{
    padding-bottom: 2rem;
  }
}